.prs-image-text-container {
    position: relative;
    overflow: hidden;
    width: 75%;
    margin: 50px auto 100px;
}
.prs-image-text-container .prs-image-container {
    width: 25%;
}
.prs-image-text-container .prs-image-container {
    float: left;
    text-align: center;
}
.prs-image-text-container .prs-image-container img {
    padding: 0px 30px;
}
.prs-image-text-container .prs-image-container img {
    max-width: 100%;
    margin: 5% 0px;
}
.prs-image-text-container .prs-text-container {
    width: 65%;
}
.prs-image-text-container .prs-text-container {
    float: right;
    margin: 0px 5%;
}
.prs-image-text-container .prs-text-container .e-text-header {
    color: #5F5164;
}
.prs-image-text-container .prs-text-container .e-text-content {
    line-height: 1.8;

}
.prs-section-top .prs-section-nav {
    position: relative;
    overflow: hidden;
    width: 75%;
    margin: 100px auto 50px;
}

.prs-section-top .prs-section-nav .nav-item {
    padding: 0px 50px;
}
.prs-section-top .prs-section-nav .nav-item {
    text-transform: uppercase;
    display: inline-block;
}
.prs-section-top .prs-section-nav .nav-item {
    padding: 0px 50px;
}
.prs-section-top .prs-section-nav .nav-item {
    text-transform: uppercase;
    display: inline-block;
}

